{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reports.css') }}">
{% endblock %}

{% block body %}

<div id="studentReportInfo">
    <h1 class="title">Generate Student Reports</h1>

    <table id="searchMenu">
        <tr>
            <td style="width: 90px; font-size: 15px; padding: 6px"><label for="studentSearch">Student name: </label></td>
            <td>
                <div id = 'dropDown'>
                    <input id="studentSearch" type="text" placeholder="Search..." >

                    <ul id="listOfNames">
                        <li>Hello</li>
                        <li>Goodbye</li>
                        <li>Hello again</li>
                        <li>Another item</li>
                        <li>Another one</li>
                    </ul>
                </div>
            </td>
            <td style="width: 190px;">
                <button id="caretButton"><i id="caret" class="fa fa-caret-down" aria-hidden="true"></i></button>
                <button id="searchButton"><i class="fa fa-search"></i></button>
                <button id="createReport">Create Report</button>
            </td>
        </tr>
    </table>
</div>

<h3 id="reportTitle" class="tableTitle"></h3>

<div id="studentReport">
<div style="display: block">
<div style="display: inline-block">
<div class="tableTitle">Hours by Placement Location</div>
<table style="margin-right: 30px; margin-left: 30px">
    <tr>
        <td>Location</td>
        <td>Hours</td>
    </tr>
    <tr>
        <td>Bussleton Revive Exercise Therapy</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Front Runner Sports</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Logic Health</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Perth Football Club</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Perth Wildcats</td>
        <td>0</td>
    </tr>
</table>
</div>

<div style="display:inline-block">
<strong><div class="tableTitle">Total Hours</div></strong>
<table>
    <tr>
        <td></td>
        <td>Total</td>
        <td>Remaining</td>
    </tr>
    <tr>
        <td>Exercise Science</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>

</div>

<strong><div class="tableTitle">Hours by Activity</div></strong>
<table>
    <tr>
        <td></td>
        <td>Exercise Assessment</td>
        <td>Exercise Prescription</td>
        <td>Exercise Delivery</td>
        <td>Exercise Other</td>
        <td class="total">Total</td>
    </tr>
    <tr>
        <td>Health/Fitness</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Sport & Performance</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Healthy Aging</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Paediatrics & Young People</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Mental Health & Welless</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Community Welless</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Employment Health & Welless</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td>Clinical Case</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"></td>
    </tr>
    <tr>
        <td class="total">Total</td>
        <td class="total"></td>
        <td class="total"></td>
        <td class="total"></td>
        <td class="total"></td>
        <td class="total"></td>
    </tr>

    
</table>
</div>

<script src="{{url_for('static', filename='javascript/reports.js')}}"></script>

{% endblock %}

