{% extends 'startpage.html' %}\
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Header Inserts, e.g. CSS, Scripts -->
{% block header %}
    <!-- Page Specific CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
    
    <div class="containerlogin">
        <h1 id ="title">Logbook Report Generator </h1>
        <h2>Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.rememberMe) }}
            <button type="submit" id="loginButton">Login</button>
        </form>
        <button><a href="/signup" id="nav-signup">No account? Sign up!</a></button>

        <button><a href="/home">Fake Login Button</a></button>

    </div>
{% endblock %}
