
body { 
    background-color: rgb(22, 19, 143);
}

* { 
    /* font-family: sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif;  */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
}

#rightBlock { 
    background-color: rgb(245, 245, 245);
    height: 90vh; 
    width: 82%; 
    float: right; 
    box-sizing: border-box;
    margin-top: 2%; 
    margin-left: 1%; 
    margin-right: 1%; 
    border-radius: 5px;
    overflow-y: scroll;
}

#sidebar { 
    margin-top: 2%; 
    margin-left: 1%;
    width: 15%; 
    height: 90vh; 
    background-color: rgb(22, 19, 143);
    color: white; 
    float: left; 
    overflow-y: scroll;
}

.sidebarElem { 
    /* padding: 10px;  */
    margin-top: 8px; 
    margin-bottom: 8px; 
    background-color:  rgb(63, 60, 223);
    border-radius: 5px;
    text-align: left;
}


.sidebarElem a { 
    color: white; 
    text-decoration: none;
    display: block; 
    text-align: left;
    padding: 10px; 
    border-radius: 5px;
}

.sidebarElem a:hover { 
    color: black; 
    background-color: rgb(163, 178, 244);
}

.sidebarElem a.active { 
    background-color: rgb(163, 178, 244);
    color: black; 
}

/* .sidebarElem a:hover:not(.active) {
    background-color: rgb(163, 178, 244);
    color: white;
  } */

.Logo { 
    background-color:rgb(22, 19, 143);
    color: rgb(163, 178, 244);
    border-radius: 5px;
    font-size: 22px;
}

.Logo i { 
    padding-top: 5px; 
    padding-bottom: 0px; 
}

.centerBlock { 
    margin-top: 10vh; 
    margin-bottom: 10vh;
    margin-left: 5%; 
    margin-right: 5%; 
    width: 90%; 
    height: 80vh; 
    background-color: white;
    text-align: center;
    border-radius: 5px;
}


