:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #363740;
}
.container {
    padding-bottom: 4rem;
}
td:last-child, th:last-child {
    text-align: right;
}
tbody tr:last-child td, tbody tr:last-child th {
    border: none;
}
td, th {
    padding: 0 1rem;
}

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.onecard {
    display: flex;
    align-items: center;
    height: 100%;
}

.onecard .card {
    width: 360px;
    margin: auto;
}

.card {
  margin-bottom: 4rem;
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03),
              0 4px 8px rgba(0,0,0,0.03),
              0 8px 16px rgba(0,0,0,0.03),
              0 16px 32px rgba(0,0,0,0.03),
              0 32px 64px rgba(0,0,0,0.03);
  overflow-y: scroll;
}

.card-heading,
.card-description {
  margin-bottom: 1.2rem;
}

.vertical-fill {
    display: flex;
    flex-direction: column;
}
.vertical-fill > div {
    flex-grow: 1;
}
main {
    margin-left: 25rem;
    padding-top: 4rem;
    background-color: rgb(245, 245, 245);
    min-height: 100%;
    width: calc(100% - 25rem);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25rem;
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
}

.nav-link:hover {
    color: rgb(163, 178, 244);
}

.nav-link.active {
    background-color: rgba(163, 178, 244, 0.2);
    border-left: 2px solid rgb(163, 178, 244);
    color: rgb(163, 178, 244);
}

.uwa {
    width: 74px;
    height: 78px;
    margin: 3rem auto;

    background: url(../assets/uwa.png);
    background-size: 74px 78px;
}

.chart {
    min-height: 400px;
}
