<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Logbook Database{% block title %}{% endblock %}</title>
        <meta name="author" content="Joel Phillips (22967051), Sean Ledesma (22752771), Lara Posel (22972221), Coen Miller (22982841), Jesse Yang (23307563), David Norris (22690264)">

        <!-- See https://flaviocopes.com/javascript-async-defer/ as for what 'defer' does.-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- TODO: add favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

        {% block header %}{% endblock %}
    </head>
    <body>
        <!-- <nav> -->
            <!-- <a href="/" id="nav-home">Home</a> -->
            <!-- TODO: other pages in navbar -->
            <!-- <button class="login"> -->
                <!-- {% if current_user.is_authenticated %}
                    <a href="/logout" id="nav-logout">Log Out {{ current_user.username }}</a>
                {% else %}
                    <a href="/login" id="nav-login">Log In</a>
                {% endif %} -->
            <!-- </button> -->
        <!-- </nav> -->

        
            <div id="sidebar">
                <div class = "Logo">Logbook Database<i class="material-icons" style="font-size:100px">library_books</i></div>
                <div class = "sidebarElem" style="margin-top:0px"><a href="/home" class="active"><i class="fa fa-home" aria-hidden="true"></i>  Home</a></div>
                <div class = "sidebarElem"><a href="/studentreports"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Student Reports</a></div>
                <div class = "sidebarElem"><a href="/staffreports"><i class="fa fa-university" aria-hidden="true"></i>  Staff Reports</a></div>
                <div class = "sidebarElem"><a href="#"><i class="fa fa-map-pin" aria-hidden="true"></i>  Location Reports</a></div>
                <div class = "sidebarElem"><a href="#"><i class="fa fa-users" aria-hidden="true"></i>  Cohort Reports</a></div>
                <div class = "sidebarElem"><a href="#"><i class="fa fa-book" aria-hidden="true"></i>  Library</a></div>
                <div class = "sidebarElem"><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>  Edit Database</a></div>
                <div class = "sidebarElem"><a href="/login"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></div>
            </div>

            <div id="rightBlock"> {% block body %}{% endblock %} </div>
       
        <script>

            var sidebarElems = document.getElementsByClassName('sidebarElem'); 

            document.addEventListener("DOMContentLoaded", function() { 
                var url = window.document.URL; 

                for (let i = 0; i < sidebarElems.length; i++) { 
                    var link = sidebarElems[i].firstChild;
                    if (link.href != url ) { 
                        link.classList.remove('active'); 
                    } else { 
                        link.setAttribute('class', 'active'); 
                    }
                }
                
            })


        </script>
    </body>
</html>
